@media screen  and (min-height:1064px) {
    html body main{
        padding-bottom:45vh
    }
  }

@media screen  and (min-width:1824px) {
  .container-screen_content-67{
    width:50%;
  }
  .font-hyperlink_in-text{
  }
  html body main section div p{
  }
  .section .button-column form button span{
    font-size:13pt;
  }
}

@media screen and (max-width:1060px) {
  #section-3{
    flex-direction:column;
    gap:1em;
  }
  .section .image-column img{
    max-width:100%;
    min-height:400px;
  }
}

@media screen and (max-width:600px) {
  .container-screen_content-67{
    width:80%;
  }
  #section-3{
    gap:0em;
  }
  .section .image-column img{
    max-width:100%;
    min-width:100%;
    min-height:200px;
    max-height: 200px;
  }
}
