@media screen  and (min-height:1064px) {
    html body main{
        padding-bottom:45vh
    }
  }

@media screen  and (min-width:1824px) {
    html body main{
      width:50vw;
    }

    html body main #section-1 #logo-image{
      width:10em;
    }
  }

  @media screen and (max-width:880px){
    html body main #section-2 .row-33_33_33-primary{
      grid-template-columns: 1fr;
    }
    html body main #section-2 .row-33_33_33-primary div a div div h2{
    }

    html body main #section-2 .row-33_33_33-primary div a div div p{
      width:90%;
      margin:0 auto 0 auto;
    }
    html body main #section-3 .row-70-30-primary{
      grid-template-columns: 1fr;
      grid-gap:1em;
    }
    html body main #section-3 #section-3-row-70-30-1{
      margin-bottom:3em;
    }
    html body main #section-3 #section-3-row-70-30-2{
      margin-bottom:3em;
    }
    html body main #section-4 .row-50-50-primary{
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    html body main section div h1{
      line-height: 125%;
      font-size:44px;
      text-align: left;
    }

    html body main section div p{
      font-size:18px;
      text-align: left;
    }

    html body main{
        padding-top:16vh;
        padding-bottom:20vh;
        width:80%;
    }

    html body main section{
    }

    html body main #section-1{
      display:flex;
      flex-direction:row;
      gap:1em;
      align-items:center;
      margin-bottom:2em;
    }

    html body main #section-1 #logo-image{
      width:2.5em;
      margin:auto 0;
      display:none;
    }

    html body main #section-1 div{
      width:100%;
    }

    html body main section div p{
    }

    html body main #section-2 .row-33_33_33-primary{
      grid-template-columns:1fr;
    }

    html body main #section-2 .row-33_33_33-primary div a div div h2{
      /* font-size:13pt; */
      text-align: left;
      width:90%;
      margin:2em auto 0 auto;
    }

    html body main #section-2 .row-33_33_33-primary div a div div p{
      width:90%;
      text-align:left;
      /* margin:0 auto 0 auto */
    }

    .divider-space{
      padding:1em 0;
    }
    .divider-space .divider-line{
      width:100%;
      display:block;
    }
