/*.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/*
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/



@color-text-h: #001459;
@color-text-h2: #fcfcfc;
@color-text-p: #000e41;
@color-text-secondary: #fcfcfc;
@color-background: #FCFCFC;
@color-cta-master: #003ACC;
@color-cta-hover: #0047FF;
@color-cta-secondary: #6C7583;
@color-cta-secondary-hover: #565f6d;
@color-light-grey: #a9a9a9;
/* - - - -CONTAINERS - - - - - */
.container-content-67 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 35vh;
  width: 67%;
  margin: auto;
}

.container-body-100 {
  margin: 0 auto;
  background: @color-background;
  z-index: 0;
  min-height: 100%;
}

.row-70-30-primary{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap:2em;
  margin-bottom:2em;
  // justify-content: space-between;
  // align-items: baseline;
}

.row-30-70-primary{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:2em;
  margin-bottom:2em;
  // justify-content: space-between;
  // align-items: baseline;
}

.row-50-50-primary{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2em;
  // justify-content: space-between;
  // align-items: baseline;
  margin-bottom:1.5em;
}

.divider-space {
  padding: 2rem 0;
  .divider-line {
    border:.5px solid @color-text-h;
    width:67%;
  }
}

.jump-spots{
  scroll-margin-top: 100px;
}
/* - - - - - FONTS - - - - - - - -*/
// .font-h1 {
//   font-family: "Outfit", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-size:28px;
//   margin-bottom: .5em;
//   color: @color-text-h;
// }

.font-h1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: @color-text-h;
  font-size:44px;
  margin-bottom: .33em;
  letter-spacing: -.5px;
}
// H2 text and divider start//

.font-divider-h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: @color-text-h;
  border-bottom:2px solid #c4c4c4;
  line-height: 0.1em;
  margin:0 0 1.33em 0;
  span{
    background:@color-background;
    padding:0 1rem 0 0;
    font-size:26px;
    letter-spacing: -.5px;
  }
}

.font-h3{
  font-family: "Outfit", sans-serif;
  margin: 0 0 .33rem 0;
  line-height: 150%;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: @color-text-h;
  font-size:22px;
}

.font-h4{
  font-family: "Outfit", sans-serif;
  font-optical-sizing:auto;
  font-size:18px;
  font-weight: 600;
  margin: 0 0 4px 0;
  text-align: left;
  line-height:140%;
  color:@color-cta-master;
}

.font-p {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color:@color-text-p;
  font-size:18px;
  line-height:135%;
}

.font-anchor {
  .font-p;
  text-decoration: none;
  font-weight: 400;
  color: @color-cta-master;
}

.font-button {
  .font-p;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.font-caption{
  .font-p;
  font-size:15.5px;
  font-weight:300;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  background: #FCFCFC;
  scroll-behavior: smooth;

  body {
    .container-body-100;

    main {
      .container-content-67;
      animation: fadeInAnimation ease 1.3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      mark{
        background-color:#ebf1ff;
        color:@color-text-h;
      }
      p {
        .font-p;
      }
      h1 {
        .font-h1;
      }
      h2{
        .font-divider-h2;
      }
      h3{
        .font-h3;
      }
      h4{
        .font-h4;
      }
      #section-1 {
        margin-bottom:4rem;
      }

      // #section-2 {
      //   flex-direction: column;
      //   .button-row {
      //     display: grid;
      //     grid-template-columns: 1fr 1fr;
      //     grid-gap: 1em;
      //     margin: auto;
      //     text-align: center;
      //     form {
      //       button {
      //         padding: 0.5rem 1rem;
      //         border-radius: 2px;
      //         transition: 0.3s;
      //
      //         span {
      //           font-family: "Outfit", sans-serif;
      //           font-optical-sizing: auto;
      //           font-weight: 400;
      //           font-style: normal;
      //           font-size:16px;
      //         }
      //
      //         &:hover {
      //           cursor: pointer;
      //         }
      //       }
      //
      //       #button-1 {
      //         color: #fff;
      //         border: 2px solid @color-cta-master;
      //         background-color: @color-cta-master;
      //
      //         &:hover {
      //           background-color: @color-cta-hover;
      //           color: #fff;
      //         }
      //       }
      //
      //       #button-2 {
      //         color: #fff;
      //         border: 2px solid @color-cta-secondary;
      //         background-color: @color-cta-secondary;
      //
      //         &:hover {
      //           background-color: @color-cta-secondary-hover;
      //           color: #fff;
      //         }
      //       }
      //     }
      //   }
      // }
      #section-2 {
        .row-33_33_33-primary {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-bottom:3rem;
          div {
            a {
              position: relative;
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              div {
                div {
                  gap: 1rem;
                  background-color: @color-cta-master;
                  border: 2px solid @color-cta-hover;
                  opacity: 0;
                  margin: auto;
                  position: absolute;
                  transition: 0.3s;
                  margin-block-end: 0;
                  border-radius: 2px;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 3px;

                  .project-tile-title {
                    .font-h4;
                    color: #fff;
                    margin:3rem 1rem .33rem 1rem;
                  }

                  .project-tile-brief {
                    .font-caption;
                    font-weight:300;
                    color: #FFF500;
                    margin:0 1rem 0 1rem;
                  }

                  &:hover {
                    opacity: 0.90;
                  }
                }
                img {
                  max-width: 100%;
                  min-width: 100%;
                  max-height: 100%;
                  min-height: 100%;
                  border-radius: 2px;
                }
              }
            }
          }
        }
      }
      #section-3{
        .row-70-30-primary{
          grid-gap:4rem;
          ul{
            li{
              .font-p;
            }
          }
        }
      }
      #section-4{
        .row-50-50-primary{
          grid-gap:2rem;
          margin-top:2rem;
          ul{
            display:inline-flex;
            flex-wrap: wrap;
            margin-bottom:1rem;
            li{
              .font-p;
              padding:.2rem .6rem .2rem .2rem;
              margin:.33rem;
              background:#ebf1ff;
              border:1px solid #b2b2b2;
              border-radius:.15rem;
              color:#404040;
              color:@color-text-h;
              .tag-bullet{
                color:#808080;
              }
            }
          }
          a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            div {
              div {
                gap: 1rem;
                background-color: #FCFCFC;
                border: 2px solid #c4c4c4;
                opacity: 0;
                margin: auto;
                position: absolute;
                transition: 0.3s;
                margin-block-end: 0;
                border-radius: 2px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 3px;
                .project-tile-title {
                  .font-h4;
                  font-size:16.5px;
                  text-align: center;
                  margin-top:8em;
                  #frog-gif{
                    height:2em;
                    margin-right:1rem;
                  }
                }
                &:hover {
                  opacity: 0.85;
                }
              }
              img {
                border-radius: 2px;
                max-width:100%;
                max-height:100%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
              }
            }
          }
        }
      }
    }
  }
}
