/*.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
/*
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
/* - - - -CONTAINERS - - - - - */
.container-content-67 {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 35vh;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
.row-70-30-primary {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  margin-bottom: 2em;
}
.row-30-70-primary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  margin-bottom: 2em;
}
.row-50-50-primary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin-bottom: 1.5em;
}
.divider-space {
  padding: 2rem 0;
}
.divider-space .divider-line {
  border: 0.5px solid #001459;
  width: 67%;
}
.back-to-top p {
  float: right;
}
.back-to-top p a {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  font-size: 15.5px;
  font-weight: 300;
  font-weight: 400;
  color: #383838;
}
.back-to-top p a:hover {
  color: #0047FF;
}
.back-to-top p span img {
  margin-left: 0.3rem;
}
.jump-spots {
  scroll-margin-top: 100px;
}
/* - - - - - FONTS - - - - - - - -*/
.font-h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #001459;
  font-size: 44px;
  margin-bottom: 0.33em;
  letter-spacing: -0.5px;
}
.font-divider-h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #001459;
  border-bottom: 2px solid #c4c4c4;
  line-height: 0.1em;
  margin: 0 0 1.33em 0;
}
.font-divider-h2 span {
  background: #FCFCFC;
  padding: 0 1rem 0 0;
  font-size: 26px;
  letter-spacing: -0.5px;
}
.font-h3 {
  font-family: "Outfit", sans-serif;
  margin: 0 0 0.33rem 0;
  line-height: 150%;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #001459;
  font-size: 22px;
}
.font-h4 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #001459;
}
.font-p {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
}
.font-anchor {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  text-decoration: none;
  font-weight: 400;
  color: #003ACC;
}
.font-anchor:hover {
  color: #0047FF;
}
.font-button {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.font-caption {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  font-size: 15.5px;
  font-weight: 300;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  background: #FCFCFC;
  scroll-behavior: smooth;
}
html body {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
html body main {
  display: flex;
  flex-direction: column;
  padding: 24vh 0 35vh;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
html body main mark {
  background-color: #ebf1ff;
  color: #001459;
}
html body main p {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
}
html body main h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #001459;
  font-size: 44px;
  margin-bottom: 0.33em;
  letter-spacing: -0.5px;
}
html body main h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #001459;
  border-bottom: 2px solid #c4c4c4;
  line-height: 0.1em;
  margin: 0 0 1.33em 0;
}
html body main h2 span {
  background: #FCFCFC;
  padding: 0 1rem 0 0;
  font-size: 26px;
  letter-spacing: -0.5px;
}
html body main h3 {
  font-family: "Outfit", sans-serif;
  margin: 0 0 0.33rem 0;
  line-height: 150%;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #001459;
  font-size: 22px;
}
html body main h4 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #001459;
}
html body main #section-1 {
  margin-bottom: 4rem;
}
html body main #section-1 #section-1-row-1-header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body main #section-1 #section-1-row-1-header-text img {
  height: 2rem;
  margin-right: 0.6rem;
}
html body main #section-2 .row-33_33_33-primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
}
html body main #section-2 .row-33_33_33-primary div a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
html body main #section-2 .row-33_33_33-primary div a div div {
  gap: 1rem;
  background-color: #003ACC;
  border: 2px solid #0047FF;
  opacity: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s;
  margin-block-end: 0;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
}
html body main #section-2 .row-33_33_33-primary div a div div .project-tile-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #001459;
  color: #fff;
  margin: 3rem 1rem 0.33rem 1rem;
}
html body main #section-2 .row-33_33_33-primary div a div div .project-tile-brief {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  font-size: 15.5px;
  font-weight: 300;
  color: #FFF500;
  margin: 0 1rem 0 1rem;
}
html body main #section-2 .row-33_33_33-primary div a div div:hover {
  opacity: 0.9;
}
html body main #section-2 .row-33_33_33-primary div a div img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  border-radius: 2px;
}
html body main #section-2 .row-33_33_33-primary div a div #project-tile-1 {
  border-radius: 2px 0 0 2px;
}
html body main #section-2 .row-33_33_33-primary div a div #project-tile-2 {
  border-radius: 0;
}
html body main #section-2 .row-33_33_33-primary div a div #project-tile-3 {
  border-radius: 0px 2px 2px 0;
}
html body main #section-3 .row-70-30-primary {
  grid-gap: 4rem;
}
html body main #section-3 .row-70-30-primary ul li {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
}
html body main #section-4 #section-4-row-50-50-primary-1 {
  grid-gap: 2rem;
}
html body main #section-4 #section-4-row-50-50-primary-1 ul {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
html body main #section-4 #section-4-row-50-50-primary-1 ul li {
  font-family: 'Roboto Slab', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000e41;
  font-size: 18px;
  line-height: 135%;
  padding: 0.33rem 0.6rem;
  margin: 0.33rem;
  background: #ebf1ff;
  border: 1px solid #b2b2b2;
  border-radius: 0.15rem;
  color: #404040;
  color: #001459;
}
html body main #section-4 #section-4-row-50-50-primary-1 ul li .tag-bullet {
  color: #808080;
}
html body main #section-4 #section-4-row-50-50-primary-1 a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
html body main #section-4 #section-4-row-50-50-primary-1 a div div {
  gap: 1rem;
  background-color: #003ACC;
  border: 2px solid #0047FF;
  opacity: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s;
  margin-block-end: 0;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
}
html body main #section-4 #section-4-row-50-50-primary-1 a div div .project-tile-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #001459;
  color: #fff;
  font-size: 16.5px;
  text-align: center;
  margin-top: 8em;
}
html body main #section-4 #section-4-row-50-50-primary-1 a div div .project-tile-title #frog-gif {
  height: 2em;
  margin-right: 1rem;
}
html body main #section-4 #section-4-row-50-50-primary-1 a div div:hover {
  opacity: 0.85;
}
html body main #section-4 #section-4-row-50-50-primary-1 a div img {
  border-radius: 2px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
html body main #section-4 #section-4-row-50-50-primary-2 {
  margin-bottom: 3rem;
}
html body main #section-4 #section-4-row-50-50-primary-2 div ul li p a {
  line-height: 160%;
}
html body main #section-5 h3 {
  margin-top: 3rem;
}
html body main #section-5 .row-50-50-primary {
  grid-gap: 2rem;
}
html body main #section-5 .row-50-50-primary ul li p {
  line-height: 160%;
}
html body main #section-5 .row-50-50-primary img {
  border-radius: 2px;
  max-width: 100%;
}
html body main #section-5 .row-50-50-primary #section-5-row-50-50-primary-column-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body main #section-5 .row-50-50-primary #section-5-row-50-50-primary-column-1 img {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1rem;
}
